# Day 04 — Scratchcards

In [293]:
import re
import numpy as np
import pandas as pd

Parse and format input:

In [294]:
data_dict = {'card': [], 'winning_numbers': [], 'my_numbers': []}

In [295]:
with open(file='day_04_input.txt') as file:
    for index, line in enumerate(file.read().split('\n')):
        win_nums, my_nums = " ".join(line.replace('   ', ' ').replace('  ', ' ').split(f"Card {index + 1}: ")).strip().split(" | ")
        # Remove double spaces from string
        win_nums, my_nums = list(map(int, win_nums.replace('  ', ' ').split(' '))), list(map(int, my_nums.replace('  ', ' ').split(' ')))
        
        # Store values in data dictionary
        data_dict['card'].append(index + 1)
        data_dict['winning_numbers'].append(win_nums)
        data_dict['my_numbers'].append(my_nums)

Create new dataframe:

In [296]:
df = pd.DataFrame(data_dict)

In [297]:
df.head()

,card,winning_numbers,my_numbers
0,1,"[84, 17, 45, 77, 11, 66, 94, 28, 71, 70]","[45, 51, 86, 83, 53, 58, 64, 30, 67, 96, 41, 8..."
1,2,"[18, 17, 59, 8, 78, 79, 34, 35, 48, 73]","[61, 49, 59, 99, 77, 8, 79, 64, 36, 6, 3, 67, ..."
2,3,"[60, 78, 77, 44, 62, 54, 94, 50, 32, 11]","[2, 6, 89, 50, 11, 60, 57, 53, 71, 44, 47, 62,..."
3,4,"[74, 19, 54, 9, 79, 24, 21, 88, 53, 7]","[21, 30, 53, 62, 74, 79, 54, 19, 45, 67, 7, 80..."
4,5,"[68, 18, 23, 55, 9, 60, 82, 27, 76, 16]","[55, 26, 12, 23, 74, 7, 58, 29, 45, 86, 5, 6, ..."

### — Part 01

As far as the Elf has been able to figure out, you have to figure out which of the numbers you have appear in the list of winning numbers. The first match makes the card worth one point and each match after the first doubles the point value of that card.

In [298]:
def find_winning_numbers(lst_01: int, lst_02: int) -> int:
    """
    Finds matching numbers in each list, then calculates points.
    """
    points = 0
    matching_numbers = [x for x in lst_02 if x in lst_01]
    
    for i in range(len(matching_numbers)):
        if i == 0:
            points += 1
        else:
            points *= 2
    
    # Returns number of scatchcards received for Part 02 
    return len(matching_numbers), points

Add new column `points` to dataframe:

In [299]:
df['points'] = df.apply(lambda x: find_winning_numbers(x['winning_numbers'], x['my_numbers'])[1], axis=1)

In [300]:
df.head()

,card,winning_numbers,my_numbers,points
0,1,"[84, 17, 45, 77, 11, 66, 94, 28, 71, 70]","[45, 51, 86, 83, 53, 58, 64, 30, 67, 96, 41, 8...",8
1,2,"[18, 17, 59, 8, 78, 79, 34, 35, 48, 73]","[61, 49, 59, 99, 77, 8, 79, 64, 36, 6, 3, 67, ...",16
2,3,"[60, 78, 77, 44, 62, 54, 94, 50, 32, 11]","[2, 6, 89, 50, 11, 60, 57, 53, 71, 44, 47, 62,...",512
3,4,"[74, 19, 54, 9, 79, 24, 21, 88, 53, 7]","[21, 30, 53, 62, 74, 79, 54, 19, 45, 67, 7, 80...",512
4,5,"[68, 18, 23, 55, 9, 60, 82, 27, 76, 16]","[55, 26, 12, 23, 74, 7, 58, 29, 45, 86, 5, 6, ...",8

Get sum of `points`:

In [301]:
df['points'].sum()

23941

### — Part 02

Add new `copies` column to dataframe:

In [305]:
df['copies'] = 1

In [306]:
df.head()

,card,winning_numbers,my_numbers,points,copies
0,1,"[84, 17, 45, 77, 11, 66, 94, 28, 71, 70]","[45, 51, 86, 83, 53, 58, 64, 30, 67, 96, 41, 8...",8,1
1,2,"[18, 17, 59, 8, 78, 79, 34, 35, 48, 73]","[61, 49, 59, 99, 77, 8, 79, 64, 36, 6, 3, 67, ...",16,1
2,3,"[60, 78, 77, 44, 62, 54, 94, 50, 32, 11]","[2, 6, 89, 50, 11, 60, 57, 53, 71, 44, 47, 62,...",512,1
3,4,"[74, 19, 54, 9, 79, 24, 21, 88, 53, 7]","[21, 30, 53, 62, 74, 79, 54, 19, 45, 67, 7, 80...",512,1
4,5,"[68, 18, 23, 55, 9, 60, 82, 27, 76, 16]","[55, 26, 12, 23, 74, 7, 58, 29, 45, 86, 5, 6, ...",8,1

Process copies:

In [307]:
for i, row in df.iterrows():
    # Iterate through all copies of current card
    copies = find_winning_numbers(row['winning_numbers'], row['my_numbers'])[0]
    # Replace 'copies' value of current row
    for _ in range(df.loc[i, 'copies']):
        for j, row_ in df[i+1: (i+1) + copies].iterrows():
            df.loc[j, 'copies'] += 1

In [308]:
df.head()

,card,winning_numbers,my_numbers,points,copies
0,1,"[84, 17, 45, 77, 11, 66, 94, 28, 71, 70]","[45, 51, 86, 83, 53, 58, 64, 30, 67, 96, 41, 8...",8,1
1,2,"[18, 17, 59, 8, 78, 79, 34, 35, 48, 73]","[61, 49, 59, 99, 77, 8, 79, 64, 36, 6, 3, 67, ...",16,2
2,3,"[60, 78, 77, 44, 62, 54, 94, 50, 32, 11]","[2, 6, 89, 50, 11, 60, 57, 53, 71, 44, 47, 62,...",512,4
3,4,"[74, 19, 54, 9, 79, 24, 21, 88, 53, 7]","[21, 30, 53, 62, 74, 79, 54, 19, 45, 67, 7, 80...",512,8
4,5,"[68, 18, 23, 55, 9, 60, 82, 27, 76, 16]","[55, 26, 12, 23, 74, 7, 58, 29, 45, 86, 5, 6, ...",8,16

In [309]:
df['copies'].sum()

5571760