# Day 7 — Camel Cards

- [Part 01](#—-Part-01)
- [Part 02](#—-Part-02)

In [1270]:
import numpy as np
import pandas as pd

Parse input:

In [1271]:
data_dict = {'original_hand': [], 'bid': []}

In [1272]:
with open(file='day_07_input.txt') as file:
    for line in file.read().split('\n'):
        hand, bid = line.split(' ')
        # store values in data dictionary
        data_dict['original_hand'].append(hand)
        data_dict['bid'].append(bid)

Create new dataframe:

In [1273]:
df = pd.DataFrame(data_dict)

In [1274]:
df.head()

  original_hand  bid
0         QTTQK  749
1         JQAA2  148
2         37J44  319
3         559J5  647
4         92992  659

In [1275]:
# Convert type of bid to integer
df['bid'] = df['bid'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   original_hand  1000 non-null   object
 1   bid            1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

### — Part 01

Find the rank of every hand in your set. What are the total winnings?

#### Rank `hand` values:
**Cards from highest to lowest ranking:** `A`, `K`, `Q`, `J`, `T`, `9`, `8`, `7`, `6`, `5`, `4`, `3`, or `2`<br>
**Winning types:** `high card`, `one pair`, `two pair`, `three of a kind`, `full house`, `four of a kind`, `five of a kind`<br>

In [1276]:
# Assigned random points to card to show weight value
CARDS = {'A': 14, 'K': 13, 'Q': 12, 'J': 11, 'T': 10, '9': 9, '8': 8, '7': 7, '6': 6, '5': 5, '4': 4, '3': 3, '2': 2}

# Winning hand patterns
WINNING_HANDS = {
    '00000': 'Five of a kind', 
    '00004': 'Four of a kind', 
    '00033': 'Full house', 
    '00034': 'Three of a kind', 
    '00224': 'Two Pair', 
    '00234': 'One pair',
    '01234': 'High card'
}

Get winning condition for each hand:

In [1277]:
def get_hand_type(hand: str) -> str:
    """
    Determines the winning condition of current hand.
    """
    # Sort hand by frequency of each character
    sorted_hand = sorted(hand, key=lambda x: (hand.count(x), x), reverse=True)
    
    # Map each character to first index position in sorted_hands
    hand_index = "".join([str(sorted_hand.index(char)) for char in sorted_hand])
    
    return WINNING_HANDS[hand_index]

Add new column `hand_type` to dataframe:

In [1278]:
df['hand_type'] = df['original_hand'].apply(get_hand_type)

In [1279]:
df.head(3)

  original_hand  bid hand_type
0         QTTQK  749  Two Pair
1         JQAA2  148  One pair
2         37J44  319  One pair

Compare each `hand_type` to determine the correct ranking of each hand:

In [1280]:
def get_hand_score(hand: str) -> int:
    """
    Individually scores each card i currentn hand and sums the total. 
    """
    modifier = {0: 10000000000, 1: 10000000, 2: 10000, 3: 50, 4: 1}  # Adds a weight to each index position
    hand_score = 0
    
    for index, card in enumerate(hand):
        hand_score += CARDS[card] * modifier[index]
    
    return hand_score

Add placeholder columns `hand_score` and `ranking` to dataframe for later use:

In [1281]:
df['hand_score'] = np.nan
df['ranking'] = np.nan

Filter dataframe by each value in `hand_type` and determine correct ranking of each hand:

In [1282]:
hand_ranks = []

In [1283]:
for wh in WINNING_HANDS.values():
    # Filter dataframe by current value
    temp_df = df[df['hand_type'] == wh].copy()
    
    if len(temp_df.index) > 0:
        # Add new column `hand_score` to temp_df
        temp_df['hand_score'] = temp_df['original_hand'].apply(get_hand_score)
        # Sort `hand_score` column from max value - min value
        temp_df.sort_values(['hand_score'], ascending=False, inplace=True)
        # Get index postion of values and append them to hand_ranks
        hand_ranks += temp_df.index.tolist()

Overwrite values in `ranking` and `hand_score` to dataframe:

In [1284]:
for rank, index in enumerate(hand_ranks):
    df.loc[index, 'ranking'] = (len(hand_ranks) - rank)
    df.loc[index, 'hand_score'] = get_hand_score(df.iloc[index]['original_hand'])

In [1285]:
df.head(3)

  original_hand  bid hand_type    hand_score  ranking
0         QTTQK  749  Two Pair  1.201001e+11    565.0
1         JQAA2  148  One pair  1.101201e+11    374.0
2         37J44  319  One pair  3.007011e+10    235.0

Add new column `total_winnings` column to dataframe:

In [1286]:
df['total_winnings'] = df['bid'] * df['ranking']

In [1287]:
df.head(3)

  original_hand  bid hand_type    hand_score  ranking  total_winnings
0         QTTQK  749  Two Pair  1.201001e+11    565.0        423185.0
1         JQAA2  148  One pair  1.101201e+11    374.0         55352.0
2         37J44  319  One pair  3.007011e+10    235.0         74965.0

Get sum of `total_winnings`:

In [1288]:
df['total_winnings'].sum()

256448566.0

### — Part 02

To make things a little more interesting, the Elf introduces one additional rule. Now, J cards are jokers - wildcards that can act like whatever card would make the hand the strongest type possible.

To balance this, J cards are now the weakest individual cards, weaker even than 2. The other cards stay in the same order: A, K, Q, T, 9, 8, 7, 6, 5, 4, 3, 2, J.

J cards can pretend to be whatever card is best for the purpose of determining hand type; for example, QJJQ2 is now considered four of a kind. However, for the purpose of breaking ties between two hands of the same type, J is always treated as J, not the card it's pretending to be: JKKK2 is weaker than QQQQ2 because J is weaker than Q.

In [1289]:
# Updated card weights
CARDS = {'A': 14, 'K': 13, 'Q': 12, 'T': 10, '9': 9, '8': 8, '7': 7, '6': 6, '5': 5, '4': 4, '3': 3, '2': 2, 'J': 0}

Overwrite dataframe:

In [1290]:
df = df[['original_hand', 'bid']]

In [1291]:
df.head(2)

  original_hand  bid
0         QTTQK  749
1         JQAA2  148

In [1292]:
def update_J_type(hand: str) -> str:
    """
    Update hand type for hands with J cards in them.
    """
    if 'J' in hand:
        j_count = hand.count('J')
        most_common_card = ""
        card_count = 0
        card_point = 0

        for card in hand:
            if card != 'J':
                # Check card count is higher than previous count, or if card points are higher than current common card — it's stronger 
                if hand.count(card) > card_count or card_count == hand.count(card) and CARDS[card] > card_point:
                    card_count = hand.count(card)
                    card_point = CARDS[card]
                    most_common_card = card
        
        if most_common_card:
            return hand.replace('J', most_common_card)
    
    return hand

Transform hands with the card `J`, and new columns `j_transform`, `hand_type` to dataframe:

In [1293]:
df['j_transform'] = df['original_hand'].apply(update_J_type)
df['hand_type'] = df['j_transform'].apply(get_hand_type)

In [1294]:
df.head(2)

  original_hand  bid j_transform        hand_type
0         QTTQK  749       QTTQK         Two Pair
1         JQAA2  148       AQAA2  Three of a kind

Repeat formatting steps from `Part 01`:

In [1295]:
hand_ranks = []

In [1296]:
for wh in WINNING_HANDS.values():
    # Filter dataframe by current value
    temp_df = df[df['hand_type'] == wh].copy()
    
    if len(temp_df.index) > 0:
        # Add new column `hand_score` to temp_df
        temp_df['hand_score'] = temp_df['original_hand'].apply(get_hand_score)
        # Sort `hand_score` column from max value - min value
        temp_df.sort_values(['hand_score'], ascending=False, inplace=True)
        # Get index postion of values and append them to hand_ranks
        hand_ranks += temp_df.index.tolist()

Create placeholder columns:

In [1297]:
df['hand_score'] = np.nan
df['ranking'] = np.nan

In [1298]:
for rank, index in enumerate(hand_ranks):
    df.loc[index, 'ranking'] = (len(hand_ranks) - rank)
    df.loc[index, 'hand_score'] = get_hand_score(df.iloc[index]['original_hand'])

In [1299]:
df.head(3)

  original_hand  bid j_transform        hand_type    hand_score  ranking
0         QTTQK  749       QTTQK         Two Pair  1.201001e+11    442.0
1         JQAA2  148       AQAA2  Three of a kind  1.201407e+08    485.0
2         37J44  319       37444  Three of a kind  3.007000e+10    520.0

Add new column `total_winnings` to dataframe:

In [1300]:
df['total_winnings'] = df['bid'] * df['ranking']

In [1301]:
df.head(2)

,original_hand,bid,j_transform,hand_type,hand_score,ranking,total_winnings
0,QTTQK,749,QTTQK,Two Pair,1.201001e+11,442.0,331058.0
1,JQAA2,148,AQAA2,Three of a kind,1.201407e+08,485.0,71780.0

Get sum of `total_winnings`:

In [1302]:
df['total_winnings'].sum()

254412181.0