# Day 02 — Cube Conundrum

- [Part 01](#—-Part-01)
- [Part 02](#—-Part-02)

In [247]:
import re
import numpy as np
import pandas as pd

Parse and format input:

In [248]:
data_dict = {'game_id': [], 'red_cubes': [], 'blue_cubes': [], 'green_cubes': []}

In [249]:
with open(file='day_02_input.txt') as file:
    for line in file.read().split('\n'):
        # Split line into sets
        cube_sets = line.split(': ')[1].split('; ')
        
        # Get total of each cube colour
        for set_ in cube_sets:
            cube_counts = {'red': 0, 'blue': 0, 'green': 0}
            for pick in set_.split(', '):
                count, colour = pick.split(' ')
                # Store count and colour in cube_counts
                cube_counts[colour] += int(count)

            # Get game id
            game_id = int(re.sub('\W+',' ', line).split(' ')[1])
            # Store values in data dictionary 
            data_dict['game_id'].append(game_id)
            data_dict['red_cubes'].append(cube_counts['red'])
            data_dict['blue_cubes'].append(cube_counts['blue'])
            data_dict['green_cubes'].append(cube_counts['green'])

Create new dataframe:

In [250]:
df = pd.DataFrame(data_dict)

**NOTE:** dataframe is split into sets so you'll see the same `game_id` in multiple rows, which indicates how many sets were in that particular game.

In [251]:
df.head()

   game_id  red_cubes  blue_cubes  green_cubes
0        1          0           1            8
1        1          0          15           14
2        1          0           9            3
3        1          1           8            8
4        1          1          10            9

### — Part 01

The Elf would first like to know which games would have been possible if the bag contained only 12 red cubes, 13 green cubes, and 14 blue cubes?

In [252]:
def viable_games(red: int, green: int, blue: int) -> bool:
    """
    Determines if a game is viable depending of how cubes are are used in a game.
    """
    cubes_available = {'red': 12, 'green': 13, 'blue': 14}
    return red <= cubes_available['red'] and green <= cubes_available['green'] and blue <= cubes_available['blue']

Add new column `viable_game` to dataframe:

In [253]:
df['viable_game'] = df.apply(lambda x: viable_games(x['red_cubes'], x['green_cubes'], x['blue_cubes']), axis=1)

In [254]:
df.head(15)

    game_id  red_cubes  blue_cubes  green_cubes  viable_game
0         1          0           1            8         True
1         1          0          15           14        False
2         1          0           9            3         True
3         1          1           8            8         True
4         1          1          10            9         True
5         2          2           3            1         True
6         2          2           5            2         True
7         2          0          10            3         True
8         2          8           1            0         True
9         2          3           5            1         True
10        2          5           1            3         True
11        3          0           1            4         True
12        3          1           6            5         True
13        3          0          10           11         True
14        4          3          12           12         True

Filter dataframe with `game_id`'s that are viable:

In [255]:
viable_games = df.groupby(['game_id', 'viable_game'])[['red_cubes']].count().reset_index().drop_duplicates(subset=['game_id'], keep=False).drop(['red_cubes'], axis=1)
viable_games = viable_games[~viable_games['viable_game'] == False]

In [256]:
viable_games.head()

    game_id  viable_game
2         2         True
3         3         True
10        7         True
13        9         True
14       10         True

Get sum of filtered `game_id`:

In [257]:
viable_games['game_id'].sum()

2164

### — Part 02

As you continue your walk, the Elf poses a second question: in each game you played, what is the fewest number of cubes of each color that could have been in the bag to make the game possible?

Filter dataframe again by `game_id` using the maximum values recorded for each game:

In [258]:
all_viable_games = df.groupby(['game_id'])[['red_cubes', 'blue_cubes', 'green_cubes']].max().reset_index()

In [259]:
all_viable_games.head()

   game_id  red_cubes  blue_cubes  green_cubes
0        1          1          15           14
1        2          8          10            3
2        3          1          10           11
3        4         14          15           12
4        5         16          15           14

Add new column `power` to `all_viable_games` dataframe:

In [260]:
all_viable_games['power'] = all_viable_games['red_cubes'] * all_viable_games['blue_cubes'] * all_viable_games['green_cubes']

In [261]:
all_viable_games.head(3)

   game_id  red_cubes  blue_cubes  green_cubes  power
0        1          1          15           14    210
1        2          8          10            3    240
2        3          1          10           11    110

Get sum of all `power` values:

In [262]:
all_viable_games['power'].sum()

69929