# Day 6 — Wait For It

- [Part 01](#—-Part-01)
- [Part 02](#—-Part-02)

In [63]:
import re
import numpy as np
import pandas as pd

Parse and format input:

In [64]:
with open(file='day_06_input.txt') as file:
    input_ = file.read().split('\n')
    time = tuple(map(int, re.findall(r'\d+', input_[0])))
    distance = tuple(map(int, re.findall(r'\d+', input_[-1])))

Create new dataframe:

In [65]:
data_dict = {'time': [], 'distance': []}

In [66]:
for i in range(len(time)):
    data_dict['time'].append(time[i])
    data_dict['distance'].append(distance[i])

In [67]:
df = pd.DataFrame(data_dict)

In [68]:
df.head()

   time  distance
0    61       643
1    70      1184
2    90      1362
3    66      1041

### — Part 01

Determine the number of ways you could beat the record in each race. What do you get if you multiply these numbers together?

In [69]:
def valid_ways(time: int, record: int) -> int:
    """
    Returns the number of valid ways to beat the record of the current race.
    """
    hold_time = 0
    is_valid = 0
    
    for milli_sec in range(time, -1, -1):
        if hold_time * milli_sec > record:  # Can beat record
            is_valid += 1
        
        # Increment hold time by 1
        hold_time += 1
        
    return is_valid

Add new column `number_of_valid_ways` to dataframe:

In [70]:
df['number_of_valid_ways'] = df.apply(lambda x: valid_ways(x['time'], x['distance']), axis=1)

In [71]:
df.head()

   time  distance  number_of_valid_ways
0    61       643                    34
1    70      1184                    13
2    90      1362                    51
3    66      1041                    13

Multiply all values of `number_of_valid_ways`:

In [72]:
df['number_of_valid_ways'].prod()

293046

### — Part 02

As the race is about to start, you realize the piece of paper with race times and record distances you got earlier actually just has very bad kerning. There's really only one race - ignore the spaces between the numbers on each line.

Convert time / distance variables to correct format:

In [85]:
new_time = int("".join(list(map(str, time))))
new_distance = int("".join(list(map(str, distance))))

In [86]:
valid_ways(new_time, new_distance)

35150181